@import 'price-card.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

body {
  background-color: #141b1c;
  display: flex;
  height: 100vh;
}

.price-table {
  margin: auto;
  display: flex;
}

ul {
  margin: 0;
  padding: 0;
}
