.price-card {
  height: 770px;
  width: 380px;
  background: #334247;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  display: flex;
  flex-direction: column;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }

  &__popular-box {
    width: 147px;
    height: 25px;
    background: #dc3f45;
    transform: rotate(45deg);
    display: flex;
    margin-left: 276px;
    margin-top: 18px;
  }

  &__popular-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
  }

  &__title {
    font-size: 35px;
    line-height: 43px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding-top: 33px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    font-weight: 100;
    margin: 0;
  }

  &__price-green {
    width: 380px;
    height: 105px;
    background-color: #5bb189;
    margin-top: 33px;
  }

  &__price-blue {
    width: 380px;
    height: 105px;
    background-color: #3a6ba5;
    margin-top: 33px;
  }

  &__price-orange {
    width: 380px;
    height: 105px;
    background-color: #ec632a;
    margin-top: 33px;
  }

  &__price-text {
    font-weight: 700;
    font-size: 55px;
    line-height: 67px;
    margin: 0;
    text-align: center;
    padding-top: 19px;
  }

  &__description {
    padding: 40px 26px 0 26px;
    font-size: 15px;
    line-height: 18px;
    margin: 0;
    text-align: center;
  }

  &__button-green {
    width: 155px;
    height: 40px;
    background: #5bb189;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    margin-top: 39px;
  }

  &__button-blue {
    width: 155px;
    height: 40px;
    background: #3a6ba5;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    margin-top: 39px;
  }

  &__button-orange {
    width: 155px;
    height: 40px;
    background: #ec632a;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    margin: auto;
    margin-top: 39px;
  }
}

.offer {
  padding-top: 40px;

  &__box {
    display: flex;
    width: 380px;
    height: 50px;

    &:nth-child(odd) {
      background-color: rgba(42, 52, 56, 0.5);
    }
  }

  &__checkmark-green {
    margin: 18px 22px 19px 22px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png');
    width: 15px;
    height: 13px;
  }

  &__checkmark-blue {
    margin: 18px 22px 19px 22px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png');
    width: 15px;
    height: 13px;
  }

  &__checkmark-orange {
    margin: 18px 22px 19px 22px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png');
    width: 15px;
    height: 13px;
  }

  &__text {
    margin: 0;
    padding-top: 16px;
  }
}
